<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Calendar.events" name="Calendar events" schema="schema/Calendar.events.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Ημερολόγιο"
            id="Calendar.Bundle">
      </category>
      <view
            name="Ημερολόγιο"
            icon="icons/sample.gif"
            category="Calendar.Bundle"
            class="calendar.bundle.views.CalendarView"
            id="calendar.bundle.views.CalendarView">
      </view>
      <view
            class="calendar.bundle.views.DayCalendarView"
            id="calendar.bundle.views.DayCalendarView"
            name="Ημέρα">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="calendar.bundle.perspectives.CalendarPerpsective">
         <view
               relative="org.eclipse.ui.editorss"
               relationship="stack"
               id="calendar.bundle.views.CalendarView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="calendar.bundle.perspectives.CalendarPerpsective"
            id="calendar.bundle.perspectives.CalendarPerpsective"
            name="Ημερολόγιο">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Calendar Bundle.commands.category"
            name="Ημερολόγιο">
      </category>
      <command
            categoryId="Calendar Bundle.commands.category"
            id="Calendar Bundle.createEventCommand"
            name="Δημιουργία συμβάντος">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="calendar.bundle.calendar.handlers.CreateEventHandler"
            commandId="Calendar Bundle.createEventCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:calendar.bundle.views.CalendarView">
         <command
               commandId="Calendar Bundle.createEventCommand"
               icon="IMG_OBJ_ADD"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
