<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Ημερολόγιο"
            id="Calendar.Bundle">
      </category>
      <view
            name="Ημερολόγιο"
            icon="icons/sample.gif"
            category="Calendar.Bundle"
            class="calendar.bundle.views.CalendarView"
            id="calendar.bundle.views.CalendarView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="calendar.bundle.perspectivesCalendarPerpsective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="calendar.bundle.views.CalendarView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="calendar.bundle.CalendarPerpsective"
            id="calendar.bundle.perspectivesCalendarPerpsective"
            name="Ημερολόγιο">
      </perspective>
   </extension>

</plugin>
