<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Customer Management"
            id="Customer.Management.Bundle">
      </category>
      <view
            class="customer.management.bundle.views.CustomersView"
            id="customer.management.bundle.views.CustomersView"
            name="Customers">
      </view>
      <view
            class="customer.management.bundle.views.CasesView"
            id="customer.management.bundle.views.CasesView"
            name="Cases">
      </view>
      <view
            class="customer.management.bundle.views.CustomerInformationView"
            id="customer.management.bundle.views.CustomerInformationView"
            name="Customer Information">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="customer.management.bundle.perspectives.casemanagement">
         <view
               id="customer.management.bundle.views.CasesView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="customer.management.bundle.perspectives.customermanagement">
         <view
               id="customer.management.bundle.views.CustomersView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="customer.management.bundle.views.CustomerInformationView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="customer.management.bundle.perspectives.CaseManagementPerspective"
            icon="icons/perspectives/case_24.png"
            id="customer.management.bundle.perspectives.casemanagement"
            name="Case Management">
      </perspective>
      <perspective
            class="customer.management.bundle.perspectives.CustomerManagementPerspective"
            icon="icons/perspectives/users_group_24.png"
            id="customer.management.bundle.perspectives.customermanagement"
            name="Customer Management">
      </perspective>
   </extension>

</plugin>
