<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target sequenceNumber="1">
<locations>
<location path="C:\eclipse indigo rcp 32" type="Directory"/>
</locations>
</target>
