<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="law.and.orders.platform.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="law.and.orders.platform.perspective.Perspective"
            id="Law.And.Orders.Platform.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="law.and.orders.platform.View"
            id="Law.And.Orders.Platform.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="Law.And.Orders.Platform.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Οθόνες">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="icons/alt_window_16.gif"
                  label="show 1"
                  style="push">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="Law.And.Orders.Platform.perspective">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  icon="icons/alt_window_16.gif"
                  label="show 2"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar.perspectivesDynamic">
            <dynamic
                  class="law.and.orders.platform.perspective.PerspectiveSwitcherToolbar"
                  id="perspectiveSwitcherToolbar">
            </dynamic>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
